.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.horizontalDivider {
  background-color: darkblue;
  height: 5px;
}

.aboutMe,
.workExp,
.qualifications {
  width: 500px;
  height: 500px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 50px;
  color: black;
  text-align: center;
  background: aliceblue;
  cursor: pointer;
}

.text-align-left {
  text-align: left;
}

.list-style-none {
  list-style: none;
}

.display-inline {
  display: inline;
}

.cursor-pointer {
  cursor: pointer;
}

.quali_logo {
  background-color: #aad5e3;
}

#aboutMe,
#mySkills {
  height: 600px;
}

#myQualifications {
  height: 1300px;
}

.align-center {
  align-items: center;
}

.qual-desc {
  border-left: 3px solid #aad5e3;
  margin-left: 2.5rem;
  padding-left: 4rem;
  height: 100%;
}

.progress-bar {
  background-color: #aad5e3 !important;
  color: black !important;
}

footer {
  background: #aad5e3;
  padding: 1rem;
}

.aboutMeInViewPort {
  opacity: 0;
}

.aboutMeNotInViewPort {
  background: #aad5e3;
  padding: 1rem;
  width: 100%;
  z-index: 999;
  position: fixed;
  text-align: center;
  opacity: 1;
  transition: all 1s;
}